.organizador{
  width:90%;
  display: grid;
  gap: 2rem;
  margin: 2rem auto;
  justify-content: center;
  }
  .btn{
    display: flex;
    gap: 2rem;
  }
  .btn :nth-last-child(1){
    background-color: darkgreen;
  }

  .form{
    width:20rem;
  }
