.organizador{
  width:90%;
  display: grid;
  gap: 2rem;
  margin: 2rem  auto;
  justify-content: center;
  }
  .btn{
    display: flex;
    margin: 0 auto;
    gap: 2rem;
  }
  .form{
    margin: 0 9rem;
    width:17rem;
  }
  .form button{
    margin: -4.6rem 0 0 20rem ;
  }

  .containerList{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    overflow: scroll;
    overflow-x: hidden;
    width: 840px;
    height: 32rem;
  }

  .containerList::-webkit-scrollbar {
    width: 15px;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: darkgreen;
    border-radius: 5px;
  }
  .list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 10px;
  
  }
  .product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border: 5px solid black;
    border-radius: 8px;
    height: 7rem;
  }

  .lista{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border-radius: 8px solid black;
  
  }
  .product:hover, 
  .product:focus{
    border: 5px solid darkgreen;
  }
  .img{
    background: url(../../Assets/fechadura.jpg);
    width: 100px;
    height: 100px;
    background-size: cover;
  }
  .btnList{
    display: flex;
    gap: 2rem;
  }