
.form {
  margin-bottom: 4rem;
  margin-top: 1rem;
  width: 35rem;
}


.cadastro {
  display: flex;
  margin-top: 2.6rem;
  width: 35rem;
}
.cadastro button{
  width: 11rem;
}
.cadastro p {
  font-size: 19pt;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
  color: black;
}

.title{
  font-size: 2rem;
}

.logout{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
h2{
  text-align: center;
}

h1::after {
  content: '';
  display: block;
  background: darkgreen;
  height: 0.5rem;
  width: 4rem;
  border-radius: 0.2rem;
}

@media(max-width:360px){
  .cadLogin{
   display: grid;
    justify-content: center;
    margin-top: -6rem;
    margin-left: -8rem;
  }
.form {
  margin-bottom: 4rem;
  margin-top: 1rem;
  width: 10rem;
}
.form input{
  height: 2rem;
  width: 18rem;
}
.cadastro {
  display: grid;
  margin-top:0;
  width: 15rem;
}
.cadastro p{
font-size: 15pt;
}
.cadastro button{
  width: 10rem;
}

.title{
  font-size: 1rem;
}

.logout{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-left: -5rem;
}
h2{
  text-align: center;
  margin-left: -5rem;
}
h1::after {
  content: '';
  display: block;
  background: darkgreen;
  height: 0.5rem;
  width: 4rem;
  border-radius: 0.2rem;
}
}
