
.form {
  margin-bottom: 4rem;
  margin-top: 1rem;
  width: 35rem;
}


.cadastro {
  margin-top: 2.6rem;
  width: 35rem;
}

.cadastro p {
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

.title{
  font-size: 2rem;
}



h1::after {
  content: '';
  display: block;
  background: darkgreen;
  height: 0.5rem;
  width: 4rem;
  border-radius: 0.2rem;
}
